/* =========================
   Bendras puslapio stilius
========================= */

body {
    background-image: url("images/oda2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Darker Grotesque', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Overlay (užtamsinimas) */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    z-index: 0;
}

/* Užtikrina, kad turinys būtų virš overlay */
#wrapper, #header, #main, #footer {
    position: relative;
    z-index: 1;
}

/* =========================
   Formos elementai
========================= */
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 8px;
    border: solid 1px rgba(255, 255, 255, 0.35);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.075);
    height: 2.75em;
}

textarea {
    padding: 0.75em 1em;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #8cc9f0;
    box-shadow: 0 0 0 1px #8cc9f0;
}

/* Checkbox ir radio */
input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
    color: rgba(255, 255, 255, 0.65);
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    content: '';
    display: inline-block;
    border-radius: 8px;
    border: solid 1px rgba(255, 255, 255, 0.35);
    height: 2.0625em;
    width: 2.0625em;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    line-height: 2.0625em;
    background: rgba(255, 255, 255, 0.075);
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    content: '\f00c';
    background-color: #ffffff;
    border-color: #ffffff;
    color: #935d8c;
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    border-color: #8cc9f0;
    box-shadow: 0 0 0 1px #8cc9f0;
}

/* Placeholder spalvos */
::-webkit-input-placeholder { color: rgba(255,255,255,0.5) !important; }
:-moz-placeholder { color: rgba(255,255,255,0.5) !important; }
::-moz-placeholder { color: rgba(255,255,255,0.5) !important; }
:-ms-input-placeholder { color: rgba(255,255,255,0.5) !important; }
.formerize-placeholder { color: rgba(255,255,255,0.5) !important; }

/* =========================
   Ikonos
========================= */
.icon {
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
    position: relative;
}
.icon:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 400;
    display: inline-block;
    line-height: 1;
    text-align: center;
}
.icon.solid:before { font-weight: 900; }
.icon.major {
    border: 1px solid rgba(255,255,255,0.35);
    border-radius: 100%;
    padding: 0.65em;
    display: inline-block;
    margin-bottom: 2em;
}
.icon.alt {
    border: 1px solid rgba(255,255,255,0.35);
    border-radius: 100%;
}
.icon.alt:hover { background-color: rgba(255,255,255,0.075); }
.icon.alt:active { background-color: rgba(255,255,255,0.2); }

/* =========================
   Header
========================= */
#header {
    padding: 5em 5em 1em 5em;
    text-align: center;
}
#header h1 { margin: 0 0 0.25em 0; }
#header p { font-size: 1.25em; letter-spacing: -0.025em; }

#header.alt {
    padding: 7em 5em 4em 5em;
}
#header.alt h1 { font-size: 3.25em; }

/* =========================
   Nav
========================= */
#nav {
    background-color: #f7f7f7;
    color: #636363;
    position: absolute;
    width: 64em;
    max-width: calc(100% - 4em);
    padding: 1em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
    text-align: center;
}

/* =========================
   Main
========================= */
#main {
    background-color: #ffffff;
    color: #636363;
    border-radius: 0.25em;
}
#main input[type="submit"].primary,
#main button.primary,
#main .button.primary {
    background-color: #8cc9f0;
    color: #ffffff !important;
}

/* =========================
   Footer
========================= */
#footer {
    display: flex;
    flex-wrap: wrap;
    padding: 5em 5em 3em 5em;
    width: calc(100% + 2em);
    margin: 0 0 3em -2em;
}
#footer > * { width: calc(50% - 2em); margin-left: 2em; }
#footer .copyright { width: 100%; margin: 2.5em 0 2em 0; font-size: 0.8em; text-align: center; }

/* =========================
   Wrapper
========================= */
#wrapper {
    width: 64em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}

/* =========================
   Media Queries
========================= */
@media screen and (max-width: 980px) {
    #wrapper { max-width: calc(100% - 3em); }
    #header { padding: 4em 3em 0.1em 3em; }
}
@media screen and (max-width: 736px) {
    #wrapper { max-width: calc(100% - 2em); }
    #header { padding: 3em 2em 0.1em 2em; }
}
@media screen and (max-width: 480px) {
    #wrapper { max-width: calc(100% - 1.5em); }
    #header { padding: 3em 1.5em 0.1em 1.5em; }
}
@media screen and (max-width: 360px) {
    #wrapper { max-width: 100%; }
    #header { padding: 2.5em 1em 0.1em 1em; }
}

		
